.login-wrap {
    width: 350px;
    max-width: 400px;
    position: absolute;
    top: 30vh;
    left: calc(50% - 175px);
}

@media (max-width: 425px) {
    .login-wrap {
        width: 250px;
        left: calc(50% - 125px);
    }
}