.filter-wrap {
    min-height: 100vh;
}

.students-wrap {
    width: 72vw;
    margin: 0 auto;
}

.focus-filter {
    filter: brightness(0.4);
}

@media (max-width: 425px) {
    .students-wrap {
        width: calc(100vw - 10px);
    }
}