
.coursant_rating-item {
    /*flex-basis: 163px;*/
    margin-right: 60px;
    display: flex;
    flex-direction: column;
  justify-content: flex-end;

}
.coursant_rating_item-stars {
    display: flex;
}


.coursant_rating_item-stars p {
    font-size: 18px;
    margin-right: 10px;
}


i.fa-solid.fa-star {
    font-size: 19px;
    color: #4D4D4D;
}

i.fa-solid.fa-star.active {
    color:#E02735;
}


