button {
    padding: 8px;
    background-color: #e02735;
    font-weight: 200;
    border: none;
    font-size: 0.9rem;
    transition: background-color 0.2s, transform 0.1s;
}

.red-button:hover {
    background-color: #cd0d1c;
    cursor: pointer;
}

.red-button:active {
    transform: scale(.98)
}

